/* Image styling */
#viobot, #thump {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

.cheats {
    height: 400px;
}

#logo {
    width: 10%;
}

body {
    margin-left: 15px;
}

.demo:hover {
    text-decoration: none;
}

testimonials {
    display: grid;
    grid-template-rows: auto;
}

.purchase:hover {
    text-decoration: none;
    color: white;
}

.purchase {
    color: white;
}